<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <read-more>
      {{ description }}
    </read-more>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      color="primary"
      class="black_btn"
      (click)="applyProposal()"
    >
      Apply
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="black_btn"
      (click)="redirectToEdit()"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="black_btn"
      (click)="handleRemove()"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
