/**main color #001e00 **/
#myIframe {
  position: fixed;
  top: 5px;
  right: 0%;
  height: 700px;
  border: none;
  width: 440px;
  z-index: 10000;
  transition: all 1.2s ease-in-out;
}
.hideIframe {
  transform: translateX(430px);
}
.showIframe {
  transform: translateX(0);
}
.fillBtn {
  width: 80px;
  height: 32px;
  background-color: #001e00;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  font-size: 14px;
  border: none;
}
.fillBtn:hover {
  /* border: 1px solid #14a800;
  background-color: rgb(255, 255, 255); */
}
